In [1]:
from __future__ import absolute_import, division, print_function

# Citi Bike Daily Ridership and Membership Data

Date taken from: https://www.citibikenyc.com/system-data

## Imports

In [2]:
import datetime
import os
import glob

import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.lines as mlines

%matplotlib inline

## Data

In [3]:
data_dir = os.path.join(os.getcwd(),'..','..','data')

In [4]:
df_2015 = pd.read_csv(os.path.join(data_dir,'detailed_2015.csv'))
df_2015.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Cumulative trips (since launch):,Miles traveled today (midnight to 11:59 pm),Miles traveled to date:,Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),7-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/2015,5792,15216843,9191,26055797,127279,267,11
1,1/2/2015,12371,15229214,18222,26074019,127293,298,8
2,1/3/2015,4834,15234048,6282,26080301,127300,96,7
3,1/4/2015,8509,15242557,11700,26092001,127308,152,5
4,1/5/2015,15792,15258349,20022,26112023,127336,88,12

In [5]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
Date                                                  365 non-null object
Trips over the past 24-hours (midnight to 11:59pm)    365 non-null int64
Cumulative trips (since launch):                      365 non-null int64
Miles traveled today (midnight to 11:59 pm)           365 non-null int64
Miles traveled to date:                               365 non-null int64
Total Annual Members (All Time)                       365 non-null int64
24-Hour Passes Purchased (midnight to 11:59 pm)       365 non-null int64
7-Day Passes Purchased (midnight to 11:59 pm)         365 non-null int64
dtypes: int64(7), object(1)
memory usage: 22.9+ KB

In [6]:
df_2016 = pd.read_csv(os.path.join(data_dir,'detailed_2016.csv'))
df_2016.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Cumulative trips (since launch):,Miles traveled today (midnight to 11:59 pm),Miles traveled to date:,Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm),7-Day Passes Purchased (midnight to 11:59 pm)
0,7/1/16,39665,30074752,82871,56801553,179756,1316,139,0
1,7/2/16,35835,30110587,111151,56912704,179903,3596,314,0
2,7/3/16,35347,30145934,111116,57023820,180016,4095,169,0
3,7/4/16,34859,30180793,109745,57133565,180158,3826,155,0
4,7/5/16,43736,30224529,92107,57225672,180338,1357,160,0

In [7]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 9 columns):
Date                                                  366 non-null object
Trips over the past 24-hours (midnight to 11:59pm)    366 non-null int64
Cumulative trips (since launch):                      366 non-null int64
Miles traveled today (midnight to 11:59 pm)           366 non-null int64
Miles traveled to date:                               366 non-null int64
Total Annual Members (All Time)                       366 non-null int64
24-Hour Passes Purchased (midnight to 11:59 pm)       366 non-null int64
3-Day Passes Purchased (midnight to 11:59 pm)         366 non-null int64
7-Day Passes Purchased (midnight to 11:59 pm)         366 non-null int64
dtypes: int64(8), object(1)
memory usage: 25.8+ KB